* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  background-color: #edf9fc;
}

main {
  padding-bottom: 2em;
}

/* Loading Indicator Styles */
.loadingIndicator {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-25%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.dots-loader {
  display: flex;
  align-items: center;
}

.dot {
  width: 8px;
  height: 8px;
  margin: 0 4px;
  background-color: black;
  border-radius: 70%;
  animation: bounce 1.6s infinite ease-in-out;
}

.dot:nth-child(2) {
  animation-delay: 0.4s;
}

.dot:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes bounce {
  0%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
}

.text-load {
  margin-left: 10px;
  font-size: 1rem;
}

/* Note List */
.note-list {
  display: block;
}

.note-list .grid-wrapper {
  padding-top: 5%;
  display: grid;
}

.note-list .grid-wrapper .all-notes {
  padding-top: 1em;
  text-align: center;
}

.note-list .grid-wrapper hr {
  width: 90%;
  border: 1.8px solid #ffb200;
  margin: 1em auto;
}

.note-list .grid-wrapper .grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  align-items: center;
  justify-items: center;
  gap: 2em;
  padding: 2em;
}

.note-list .grid-wrapper .grid-container .card {
  background-color: white;
  opacity: 0.8;
  border: none;
  border-radius: 10px;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  max-width: 300px;
  height: 100%;
  padding: 1em;
  text-align: left;
}

.note-list .grid-wrapper .grid-container .card h4 {
  margin-bottom: 0.5em;
  font-size: 1.2em;
}

.note-list .grid-wrapper .grid-container .card .date {
  font-size: 0.7em;
  margin-top: -9px;
  color: #666;
}

.note-list .grid-wrapper .grid-container .card .desc {
  padding-top: 1em;
  font-size: 0.9em;
  line-height: 1.5em;
  color: #333;
}

/* Footer */
footer {
  display: flex;
  background-color: #d1f4fa;
  height: 60px;
  align-items: center;
  justify-content: center;
  bottom: 0;
  margin-top: 72px;
  color: black;
  padding: 15px;
  font-size: 12px;
}

/* Media Query */
@media screen and (max-width: 768px) {
  nav {
    padding: 20px;
  }

  .wrapper {
    padding-top: 20%;
  }

  .wrapper .form-wrapper {
    width: 50%;
  }
  .note-wrapper {
    padding-top: 20%;
  }

  .note-form-wrapper {
    padding: 1.5em;
    max-width: 80%; /* Memperluas form di layar kecil */
  }

  .note-form .form-title input,
  .note-form .form-description textarea,
  .note-form .form-group button {
    font-size: 0.9rem; /* Mengurangi ukuran font */
    padding: 8px;
  }
}

@media screen and (max-width: 576px) {
  nav {
    padding: 16px;
  }

  .wrapper {
    padding-top: 30%;
  }

  .note-wrapper {
    padding-top: 40%;
  }

  .note-form-wrapper {
    padding: 1em;
    max-width: 200px;
    align-items: center;
    justify-items: center;
  }

  .note-form .form-title input,
  .note-form .form-description textarea,
  .note-form .form-group button {
    font-size: 0.8rem; /* Mengurangi ukuran font lebih lanjut */
    padding: 6px;
  }
}
